<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de senha</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/novasenha.css'%}">
</head>
<body>
    <nav>
         
        <header id="menu" class="container__barra">
            <a href="{% url 'home' %}"><img id="img_principal"  class="container__logo" src="{% static 'img/logoprincipal.png' %}" alt="Logo da Odonto Locchi"></a>            <hr class="linha">
            <div id="id_bt_logar" class="container__logar">
              <a class="bt_logar" href='#'>Logar</a>
          </div>
              <div id="id_Login" class="modal_login">
                  <a href="{%url 'login'%}" class="Login_paciente">Paciente</a>
                  <hr class="linha_modal_Login">
                  <a href="{%url 'loginmedico'%}" class="Login_medico">Médico</a>
                  <hr class="linha_modal_Login">
                  <a href="/admin" class="Login_ADM">Admin</a>
              </div>
                <ul class="container__header">
                    <li><a class="bt1" href="/home">Início</a></li>
                    <li><a class="bt2" href="{% url 'quemsomos' %}">Quem Somos</a></li>

                    <li><a id="bt3" href="/Bytech-Pagina tratamentos/index (1).html">Tratamentos</a>
                          <div id="modal_id"  class="modal_class">
                              <a href="{% url 'dentista' %}" class="pg_dentista">Dentista</a>
                              <br>   
                              <hr class="linha_modal">
                              <a href="{% url 'cirurgia' %}" class="pg_cirurgia">Cirurgia</a>
                              <br>
                              <hr class="linha_modal">
                              <a href="{% url 'implante' %}" class="pg_impalnte">Implante</a>
                              <br>
                              <hr class="linha_modal">
                              <a href="{% url 'protese' %}" class="pg_endorfina">Prótese</a>
                              <br>
                              <hr class="linha_modal">
                              <a href="{% url 'invisalign' %}" class="pg_invisaling">Invisalign</a>
                              <br>
                              <hr class="linha_modal">
                              <a href="{% url 'ortodontia' %}" class="pg_ortodontia">Ortondontia</a>
                              <br>
                              <hr class="linha_modal">
                              <a href="{% url 'pediatra' %}" class="pg_odontoPediatra">Odonto Pediatra</a>
                              <br>
                              <hr class="linha_modal">
                              <a href="{% url 'geri' %}" class="pg_odontoGeriatria">Odonto Geriatria</a>
                              <br>
                          </div></li>

                    <li><a class="bt4" href="{% url 'planos' %}">Planos</a></li>
                    <li><a class="bt5" href="{% url 'agendamento' %}">Agendar</a></li>
                   

                </ul>
                
               
                  <hr class="linha_invi_teste">
          </header>
   </nav>


    <div class="Body-Login">
        <div class="login-container">
            <h2>Recupere sua Senha</h2>
            <form action="confirmaremail/" method="POST" id="emailForm">
                {% csrf_token %}
                <div class="Usuario">
                    <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
                </div>
                
                <div class="Esqueci_senha">
                    <div class="Lembrar_senha">
                        <input type="checkbox" id="rememberMe" name="rememberMe">
                        <label for="rememberMe">Lembrar meus dados</label>
                    </div>
                    <a href="{%url 'login'%}" class="Login__">Fazer login</a>
                </div>
                <button type="submit" href="#">Enviar Email</button>
            </form>
            <script>
                document.getElementById('emailForm').addEventListener('submit', function(e) {
                    e.preventDefault();  // Evita o envio tradicional do formulário
            
                    var form = this;
                    var formData = new FormData(form);
            
                    fetch("{% url 'confirmaremail' %}", {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            alert('Email enviado com sucesso, verifique sua caixa de entrada!');  // Alerta de sucesso
                        } else {
                            alert('Falha ao enviar e-mail.');
                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Email enviado com sucesso, verifique sua caixa de entrada!');
                    });
                });
            </script>
                <div class="conteiner__semConta ">
                    <p class="text_temConta">Não tem uma conta?</p><a class="login-link" href="{% url 'cadastro' %}">Cadastre-se</a>
                </div>
        </div>
    </div>

    <div class="container__tabelinha">

        <img src="{% static 'img/horario.png.png' %}" alt="logo de horario">
           <h4 class="tabelinha_principal">Horarios Seg - Sex: 08:00 - 18:00</h4>
        <img src="{% static 'img/telefone.png.png' %}" alt="logo do telefone">
           <h4 class="tabelinha_principal">+55 (11) 9-9369-8558</h4>
        <img src="{% static 'img/email.png.png' %}" alt="logo do email">
           <h4 class="tabelinha_principal">Plocchi@terra.com.br</h4>
      </div> 
    
    
    
       <footer class="container__rodape"> 
            
              <div class="container__central_ajuda"> 
                  <h3 class="central1">Central De Ajuda:</h3>
                  <h5 class="central">Dúvidas, reclamações</h5>
                  <h5 class="central"> e sugestões:</h5>
                  <h5 class="central">+55 (11) 9-9369-8558</h5>
              </div>
    
             <div class="container__odonto_locchi">
    
                  <hr class="container__linha_1">
    
    
              <div class="texto1">
                 <h3 class="container__titulo2">A Odonto locchi</h3>
                 <p></p>
                 <h5 class="container__texto2"><a class="bt_rd" href="/index/quemsomos.html">Quem somos</a></h5>
                 <p></p>
                 <h5 class="container__texto2"><a class="bt_rd" href="/Bytech-Pagina tratamentos/index (1).html">Nossos tratamentos</a></h5>
                 <p></p>
                 <h5 class="container__texto2"><a class="bt_rd" href="https://web.whatsapp.com/">Central de ajuda</a></h5>
                 <p></p>
                 <h5 class="container__texto2"><a class="bt_rd" href="/index/contato.html">Contato</a></h5>
                 <p></p>
             </div>
    
             <div class="container__imagens">
                <img class="container__2barra" src="{% static 'img/qrcode1.png' %}" alt="primeiro qrcode">
                <img class="container__3barra" src="{% static 'img/redebrasil.png' %}" alt="rede brasil">
                <img class="container__4barra" src="{% static 'img/qrcode2.png' %}" alt="segundo qrcode">
              </div>
    
             <hr class="container__linha_2">
            <div class="container__chao">
                <h2 class="container__redes">Siga a <strong class="container__color">Odonto Locchi</strong>nas redes sociais</h2> 
                <h3 class="container__redes">Certificações de Segurança</h3>
            </div>
            <div class="container__img">
                   <img class="container__img_1" src="{% static 'img/redessociais.png' %}" alt="logos de redes sociais">
                   <img class="container__img_2" src="{% static 'img/proteçãodedados.png' %}" alt="logos das proteções de dados">
            </div>
                
            <hr class="linha_invi">
       </footer>
   
</body>

<script src="{%static 'js/script.js'%}"></script>
</html>
